<<<<<<< HEAD
.card {
    display: flex;
}

buton{
    display: flex;
    justify-content: center; 
}

h1 {
    text-align: center;
    padding-top: 15px;
}

h5 {
    text-align: center;

}

=======
    padding-top: 15px;
}
>>>>>>> 5c217347c631c321bf98a0a357b5d9e3bda9f0cb
