<<<<<<< HEAD
.card {
    display: flex;
}
=======
buton{
    display: flex;
    justify-content: center; 
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}
>>>>>>> 65ac335e9e127413dcc3a769f75957d8e554af33
